<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="users.css">
    <title>Users</title>
</head>
<body>
    <div class="container">
            {{#each users}}
                <div class="item">
                    <div>
                        <div>First Name: {{this.firstname}}</div>
                        <div>Last Name: {{this.lastname}}</div>
                        <div>Email: {{this.email}}</div>
                        <div>Password: {{this.password}}</div>
                        <div>Age: {{this.age}}</div>
                        <div>City: {{this.city}}</div>
                    </div>
                    <div>
                        <button class="btn"><a href="/user/{{this.id}}">Show details</a></button>
                    </div>
                </div>
            {{/each}}
    </div>
</body>
</html>